.two-columns__paragraph{
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-child(2){
  margin-top: 30px;
  margin-bottom: 30px;
}

/**не подходит для повторного использования в другом блоке*/
/*
.two-columns__paragraph:first-child{
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child{
  margin-top: 30px;
}
*/
